.pokemon-header{
    margin: 20px;
    text-align: center;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#charizard-header {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb119 100%);
}
#blastoise-header {
    background-image: linear-gradient(to top, #0b0687 0%, #069dfb 100%);
}
#venusaur-header {
    background-image: linear-gradient(to top, #067026 0%, #11de4f 100%);
}

img {
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}

h4 {
    text-align: center;
}